html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    color: #9ea295;
    color: hsl(198, 14%, 62%);
    background-color: #65757b;
    background-color: #2D3437;
    background-color: #354147;
    background-image: linear-gradient(to bottom, #2D3437 0%, #354147 100%);
}

body {
    display: grid;
    grid-gap: 0;
    grid-template-areas:
        'inputs    nodes     nodes     nodes     outputs '
        'inputs    sequencer sequencer sequencer outputs '
        'controls  controls  controls  controls  controls';
    grid-template-columns: 0 1fr 1fr 1fr 0;
    grid-template-rows: 1fr max-content 3.75rem;
    font-size: 0.9375rem;
}

body > .inputs-block {
    grid-area: inputs;
}

body > .outputs-block {
    grid-area: outputs;
}

body > .nodes-block {
    grid-area: nodes;
    min-height: 0;
    max-height: 100vh;
}

body > .events-block {
    grid-area: sequencer;
    min-height: calc(33.333333vh - 3.75rem);
    color: white;
    background-color: #252c2d;
}

body > .bar-block {
    grid-area: controls;
    background-color: #252A2C;
}

.nodes-block {
    margin: 0;
    display: grid;
    padding: 1.3125rem;
    grid-gap: 0.75rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    overflow: auto;
}

.nodes-block > .label-block {
    position: absolute;
    top: 0.375rem;
    left: 1.875rem;
    margin: 0;
    text-transform: uppercase;
    font-size: 0.5625rem;
}

.bar-block {
    display: flex;
    margin: 0;
    background-color: #2c3a3e;
}

.sources-block {
    display: flex;
    flex-wrap: none;
    align-items: stretch;
}

.sources-block > * + * {
    margin-left: 24px;
}

.envelopes-block {
    display: grid;
    grid-gap: 15px 9px;
    grid-auto-flow: row;
    grid-template-columns: calc(55.555556% - 4px) calc(44.444444% - 5px);
    align-items: stretch;
    justify-items: stretch;
    color: #8f9aa0;
}

.envelopes-block > :nth-child(1) { z-index: 3; }
.envelopes-block > :nth-child(2) { z-index: 2; }

.envelopes-block > :nth-child(1) .envelope-svg {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.envelopes-block > :nth-child(2) .envelope-svg {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

* + .envelopes-block {
    margin-top: 24px;
}

th, td { text-align: left; }

range-control > .text-10 {
    position: relative;
    top: 3px;
    color: #8f9aa0;
}

* + range-control {
    margin-top: 30px;
}

range-control + range-control {
    margin-top: 15px;
}

range-control + .sources-block {
    margin-top: 30px;
}

.envelope-svg {
    height: 150px;
    width: 100%;
    background-color: #01181e;
    border-radius: 3px;
    background-size: auto 100%;
    background-position: bottom left;
    box-shadow: inset 0 0 90px hsla(192, 94%, 6%, 0.8),
        0 1px 1px hsla(192, 18%, 64%, 0.15),
        0 -1px 1px hsla(192, 60%, 8%, 0.4);
    border-radius: 12px;
}

.control-point {
    fill: url(#handle-gradient);
    stroke: inherit;
    stroke-width: 3;
}

.control-line {
    stroke: inherit;
    stroke-width: 3;
}

.thin-control-line {
    display: none;
    stroke-width: 1;
    stroke-dasharray: 1 2;
}

.control {
    stroke: #01181e;
}

.control:focus {
    stroke: hsl(165, 31%, 53%);
    outline: none;
}

.control:focus > .thin-control-line {
    display: block;
}

.y-line {
    fill: none;
    stroke: black;
    stroke-width: 1;
}

.defs-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.text-10 {
    font-weight: 300;
    letter-spacing: 0.08em;
    font-size: 10px;
    text-transform: uppercase;
}

.keyboard-thumb,
.midi-thumb {
    width: 0.9375rem;
    padding-top: 0;
    height: auto;
    vertical-align: middle;
    color: #00181f;
}

.midi-thumb:empty {
    width: 0.9375rem;
    padding-top: 0.9375rem;
    height: 0;
    background-image: url('../images/icons.svg');
}

.control-grid {
    display: grid;
    grid-gap: 3px 3px;
    grid-template-columns: [source] 1fr [type] 1fr [name] 1fr [transform] 1fr [min] 1fr [max] 1fr;
    grid-auto-flow: column;
}

* > .controls-bubble {
    top: 12px;
    left: 8px;
}

.controls-bubble {
    padding: 0.75rem;
    max-width: 32rem;
    right: auto;
    font-size: 12px;
    color: #a6a191;
    background-color: #00181f;
    background-color: #373327;
    background-color: #29220e;
    border-color: #b0890a;
}

.controls-bubble > table {
    width: 100%;
}

.controls-bubble .code-input,
.controls-bubble .select-button {
    background-color: hsl(44, 8%, 21%);
}

.controls-toggle-block {
    padding: 0.75rem;
    max-width: 32rem;
    right: auto;
    font-size: 12px;
    color: #a6a191;
    background-color: #00181f;
    background-color: #373327;
    background-color: #29220e;
    border-top: 2px solid #b0890a;
    border-bottom: 2px solid #b0890a;
}

.controls-toggle-block.active {
    /*overflow: visible;*/
    /* Compensating for border top and bottom of 2px, adds up to 75px */
    padding-bottom: 58px;
    padding-top: 13px;

    padding-bottom: 32px;
    padding-top: 0;
}

.controls-toggle-block.active > template + .bottoms-block {

}

/* Really we wan this on controls-toggle-block, but we need
   selector to tell us when things are in the list, and
   we don't have one. */
.controls-toggle-block > .text-10:first-child::after {
    content: '';
    display: block;
    position: absolute;
    width: 0.9375rem;
    height: 0.9375rem;
    transform: rotate(45deg);
    background-color: #29220e;;
    border-color: inherit;
    border-top: 2px solid #b0890a;
    transition: left 120ms ease-out;
    /* Nothing special about this number. Golden ratio. */
    left: 61.8%;
    right: auto;
    margin-left: -7.5px;
    top: -9px;
    border-left: 2px solid #b0890a;
}

.controls-toggle-block > *:first-child {
    margin-top: 6px;
}

.controls-toggle-block > .control-index {
    margin-bottom: 15px;
}

.controls-toggle-block > table {
    width: 100%;
}

.controls-toggle-block .code-input,
.controls-toggle-block .select-button {
    background-color: hsl(44, 8%, 21%);
}

.control-table {
    white-space: nowrap;
}

.control-table th {
    padding: 3px 9px 3px 6px;
}

.control-table th:first-child {
    padding-left: 30px;
}

.control-table td {
    padding: 3px 9px 3px 0;
}

.control-table td:last-child {
    padding-right: 0;
}




/* -------------------------------- */

[type='number']::-webkit-outer-spin-button,
[type='number']::-webkit-inner-spin-button {
	display: none;
	margin: 0;
}

[type='number'] {
	-moz-appearance: textfield;
}


.code-output,
.code-input,
.code-select-button {
    display: inline-block;
    vertical-align: top;
	font-family: 'Fira Mono', 'Andale Mono', sans-serif;
	font-size: 0.8125rem;
    text-indent: 6px;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0.5625rem;
	line-height: 1.6875rem;
	height: auto;
	height: 1.6875rem;
	color: #B6B2B0;
	background-color: #00181f;
	border-width: 0;
	border-radius: 6px;
    width: auto;
}

.code-output {
	color: #64BCA9;
	text-transform: uppercase;
	display: block;
	width: 9.375rem;
}

.code-input:hover,
.code-select-button:hover {
	color: white;
}

.code-select-button > select {
    letter-spacing: -0.033333em;
}

.type-code-select-button {
    min-width: 90px;
}

.transform-code-select-button {
    min-width: 135px;
}

.code-select-button > select {
    padding-left: 6px;
    padding-right: 24px;
}

.code-select-button::before {
    width: 24px;
}

.code-select-button::after {
    right: 9px;
    border-top-width: 5px;
    border-left-width: 4px;
    border-right-width: 4px;
}

.channel-code-input,
.number-code-input {
    width: 2.8125rem;
    text-align: right;
}

.min-code-input,
.max-code-input {
    width: 3.75rem;
	min-width: 3.75rem;
    text-align: right;
}

.chan-code-output,
.min-code-input {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.type-code-output,
.data-code-output {
	border-radius: 0;
}

.note-code-output,
.max-code-input {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.key-code-input   {
    padding-left: 0;
    padding-right: 0;
    text-indent: 0;
    text-align: center;
    width: 1.875rem;
}

.chan-code-output { width: 1.875rem; }
.type-code-output { width: 4.375rem; }
.data-code-output { width: 2.8125rem; }
.note-code-output { width: 2.8125rem; }

.min-code-input + .max-code-input,
.code-output + .code-output,
.code-output + .code-input,
.code-input + .code-output,
.code-input + .code-input {
    margin-top: 0;
}


.source-grid {
    display: grid;
    grid-gap: 1px 1px;
    grid-template-columns: [channel] min-content [type] min-content [number] min-content;
    grid-auto-flow: column;
    justify-items: stretch;
    justify-content: start;
}

.source-grid > * {
    margin: 0 !important;
    z-index: 1;
}

.source-grid > :focus {
    z-index: 2;
}

.source-grid > .thumb {
    margin-top: auto;
    margin-bottom: auto;
    align-self: center;
    margin-right: 9px !important;
    color: black;
}

.source-grid > .channel-code-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.source-grid > .code-select-button {
    border-radius: 0;
}

.source-grid > .number-code-input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.source-grid + .transform-grid {
    margin-top: 3px;
}

.transform-grid {
    display: grid;
    grid-gap: 1px 1px;
    grid-template-columns: [transform] min-content [min] min-content [max] min-content;
    grid-auto-flow: column;
    justify-items: stretch;
    justify-content: start;
}

.transform-grid > * {
    margin: 0;
    z-index: 1;
}

.transform-grid > :focus {
    z-index: 2;
}

.transform-grid > .code-select-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.transform-grid > .code-select-button.none-value {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.transform-grid > .min-code-input {
    border-radius: 0;
}

.transform-grid > .max-code-input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.left-top-bubble::after {
    left: calc(100% - 22px);
}

@media screen and (min-width: 32em) {
    .js .left-top-bubble {
    	transform: translate3d(calc(-100% + 1.4375rem), calc(-100% - 1.5rem), 0);
    }

    .js .left-top-bubble.active {
    	transform: translate3d(calc(-100% + 1.4375rem), calc(-100% - 1.75rem), 0);
    }
}


* > .toggle-block {
    /* Closed height of toggle-block is 4px, bringing this gap to 21px */
    margin-top: 1.0625rem;
}

range-control + .toggle-block {
    margin-top: 0.125rem;
}

range-control + .toggle-block.active {
    margin-top: 0.75rem;
}

.toggle-block + range-control {
    margin-top: 0.375rem;
    transition: margin-top 400ms cubic-bezier(0.06, 0.39, 0.26, 0.76);
}

.toggle-block.active + range-control {
    margin-top: 24px;
    transition: margin-top 400ms cubic-bezier(0.24, 0.74, 0.64, 0.96);
}

.toggle-block > .buttons-block {
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
}

.buttons-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    z-index: 2;
}

.buttons-block > .button {
    flex: 1 0 auto;
    margin: 0;
    color: black;
    background-color: #b0890a
}

.buttons-block > .button + .button {
    margin-left: 1px;
}

* + .buttons-block {
    margin-top: 15px;
}

template + .buttons-block {
    margin-top: -14px;
}


.bottom-button {
    padding-top: 6px;
    padding-bottom: 6px;
}

label > svg {
    width: 100%;
}






.tab-button,
.radio-button {
	font-size: 0.75rem;
	text-transform: uppercase;
	color: #2B3134;
	background-color: #565d60;/*#4C565C;*/
}

.tab-button {
	border-top-left-radius: 0.375rem;
	border-top-right-radius: 0.375rem;
}

.radio-button {
    padding-left: 6px;
    padding-right: 6px;
	border-radius: 0.1875rem;
}

.radio-button > svg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 0.9375rem;
	height: 1.25rem;
}

.tab-button.on {
	color: #B6B2B0;
	background-color: #2B3134;
}

.radio-button.on,
input:checked + .radio-button {
	/*color: #B6B2B0;*/
	color: #72B8A9;
	background-color: #00181f;
}



.radios-block {
    display: flex;
    justify-items: stretch;
    justify-content: stretch;
    align-items: center;
    flex-direction: row;
}

.radios-block > .radio-button {
    margin: 0;
    flex: 1 0 auto;
}

.radios-block > .masked:first-child + .radio-button {
    border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.radios-block > .radio-button + .masked + .radio-button {
    border-radius: 0;
    margin-left: 1px;
}

.radios-block > .radio-button + .masked + .radio-button:last-child {
    border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.radios-block + range-control {
    margin-top: 15px;
}




.tab-index,
.radio-index {
	display: table;
	width: 100%;
	margin-top: 1.25rem;
}

.tab-index > li,
.radio-index > li {
	display: table-cell;
}

.tab-index > li + li,
.radio-index > li + li {
	padding-left: 1px;
}

.radio-index > li > input {
	position: absolute;
	opacity: 0;
}

.tab-index > li > .button,
.radio-index > li > .button {
	width: 100%;
	display: block;
	padding-left: 0.125rem;
	padding-right: 0.125rem;
}

.tab-index > li:first-child > .button {
	border-top-right-radius: 0;
}

.radio-index > li:first-child > .button {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.tab-index > li + li > .button,
.radio-index > li + li > .button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.tab-index > li:last-child > .button {
	border-top-right-radius: 0.375rem;
}

.radio-index > li:last-child > .button {
	border-top-right-radius: 0.375rem;
	border-bottom-right-radius: 0.375rem;
}

.tab-index > li > .tab-button,
.radio-index > li > .radio-button {
	white-space: nowrap;
}

.radio-index + label {
	margin-top: 0.375rem;
}

.radio-index + .grid-wrap {
	margin-top: 0;
}

.node-button + .radio-index {
	margin-top: 2rem;
}
