html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    color: #9ea295;
    color: hsl(198, 14%, 62%);
    background-color: #65757b;
    background-color: #2D3437;
    background-color: #354147;
    background-image: linear-gradient(to bottom, #2D3437 0%, #354147 100%);
}

.nodes-block {
    margin: 0;
    display: flex;
    padding: 1.3125rem;
    grid-gap: 0.75rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    overflow: auto;
    flex-wrap: wrap;
    justify-content: stretch;
}

.nodes-block > .label-block {
    position: absolute;
    top: 0.375rem;
    left: 1.875rem;
    margin: 0;
    text-transform: uppercase;
    font-size: 0.5625rem;
}

.nodes-block > .node-block {
    flex: 1 0 auto;
}

.nodes-block > .node-block + .node-block {
    margin-left: 18px;
}

.bar-block {
    display: flex;
    margin: 0;
    background-color: #2c3a3e;
}

.sources-block {
    display: flex;
    flex-wrap: none;
    align-items: stretch;
    justify-items: stretch;
    justify-content: space-between;
}

.sources-block > * {
    flex: 1 0 auto;
}

.sources-block > * + * {
    margin-left: 24px;
}

.envelopes-block {
    display: grid;
    grid-gap: 15px 3px;
    grid-auto-flow: row;
    grid-template-columns: calc(55.555556% - 1px) calc(44.444444% - 2px);
    align-items: stretch;
    justify-items: stretch;
    color: #8f9aa0;
}

.envelopes-block > :nth-child(1) { z-index: 3; }
.envelopes-block > :nth-child(2) { z-index: 2; }

.envelopes-block > :nth-child(1) .envelope-svg {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 3px;
}

.envelopes-block > :nth-child(2) .envelope-svg {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.envelopes-block > :nth-child(2) .envelope-svg > text {
    /* Remove y scale */
    display: none;
}

* + .envelopes-block {
    margin-top: 24px;
}

th, td { text-align: left; }

range-control > .text-10 {
    position: relative;
    top: 3px;
    color: #8f9aa0;
}

* + range-control {
    margin-top: 30px;
}

range-control + range-control {
    margin-top: 15px;
}

range-control + .sources-block {
    margin-top: 30px;
}

.envelope-svg {
    height: 150px;
    width: 100%;
    background-color: #01181e;
    border-radius: 3px;
    background-size: auto 100%;
    background-position: bottom left;
    box-shadow: inset 0 0 90px hsla(192, 94%, 6%, 0.8),
        0 1px 1px hsla(192, 18%, 64%, 0.15),
        0 -1px 1px hsla(192, 60%, 8%, 0.4);
    border-radius: 12px;
}

.control-point {
    fill: url(#handle-gradient);
    stroke: inherit;
    stroke-width: 3;
}

.control-line {
    stroke: inherit;
    stroke-width: 3;
}

.thin-control-line {
    display: none;
    stroke-width: 1;
    stroke-dasharray: 1 2;
}

.control {
    stroke: #01181e;
}

.control:focus {
    stroke: hsl(165, 31%, 53%);
    outline: none;
}

.control:focus > .thin-control-line {
    display: block;
}

.y-line {
    fill: none;
    stroke: black;
    stroke-width: 1;
}

.defs-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.text-10 {
    font-weight: 300;
    letter-spacing: 0.08em;
    font-size: 10px;
    text-transform: uppercase;
}




/* thumb */

.add-thumb,
.remove-thumb {
	position: relative;
	border: 2px solid #4C565C;
	border-radius: 1.25rem;
	color: currentcolor;
	background-color: transparent;
    border-color: currentcolor;
}

.add-thumb {
	width: 2.5rem;
	padding-top: 2.25rem;
	line-height: 2.125rem;
}

.add-thumb:focus,
.add-thumb:hover {
	color: #FE337E;
}

.remove-thumb {
	width: 1.875rem;
	padding-top: 1.625rem;
	line-height: 1.625rem;
	/* background-color: #354147; */
}

.remove-thumb:focus,
.remove-thumb:hover {
	color: #FE681F;
}

.add-thumb:before,
.remove-thumb:before {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	font-size: 1.25rem;
	text-align: center;
	line-height: inherit;
}

.add-thumb:before {
	content: '+';
}

.remove-thumb:before {
	content: 'тип';
}

.small-remove-thumb {
	line-height: 1.25rem;
	padding-top: 1.25rem;
	width: 1.5rem;
}

/*
.small-remove-thumb:focus,
.small-remove-thumb:hover {
	/* Don't draw attention to small thumbs. *//*
	color: #4C565C;
	border-color: #4C565C;
}
*/



/* -------------------------------- */

[type='number']::-webkit-outer-spin-button,
[type='number']::-webkit-inner-spin-button {
	display: none;
	margin: 0;
}

[type='number'] {
	-moz-appearance: textfield;
}


.select-button {
    min-width: 24px;
    min-height: 21px;
    line-height: 21px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 0.1875rem;
}

.code-output,
.code-input,
.code-select-button {
    display: inline-block;
    vertical-align: top;
    font-family: 'Fira Mono', 'Andale Mono', sans-serif;
    font-size: 0.78125rem;
    text-indent: 6px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0.375rem;
    line-height: 1.6875rem;
    height: auto;
    height: 1.6875rem;
    color: #B6B2B0;
    background-color: #00181f;
    border-width: 0;
    border-radius: 6px;
    width: auto;
    min-width: 1.875rem;
    white-space: nowrap;
}

.code-input:hover,
.code-select-button:hover {
	color: white;
}

.code-select-button > select {
    letter-spacing: -0.033333em;
}

.type-code-select-button {
    min-width: 75px;
}

.transform-code-select-button {
    min-width: 135px;
}

.name-code-select-button {
    min-width: 75px;
}

.code-select-button > select {
    padding-left: 6px;
    padding-right: 6px;
    min-width: 3em;
}

.code-select-button::before {
    width: 24px;
}

.code-select-button::after {
    right: 9px;
    border-top-width: 5px;
    border-left-width: 4px;
    border-right-width: 4px;
}


.code-select-button::after {
    right: calc(50% - 3px);
    top: calc(100% + 6px);
    opacity: 0.4;
}

.channel-code-input,
.number-code-input {
    text-align: right;
}

.number-code-input {
    width: 3.75rem;
}


.min-code-input,
.max-code-input {
    width: 60px;
    min-width: 60px;
    text-align: right;
}

.chan-code-output,
.min-code-input {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.type-code-output,
.data-code-output {
	border-radius: 0;
}

.note-code-output,
.max-code-input {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.key-code-input   {
    padding-left: 0;
    padding-right: 0;
    text-indent: 0;
    text-align: center;
    width: 1.875rem;
    text-transform: uppercase;
}

.chan-code-output { width: 1.875rem; }
.type-code-output { width: 4.375rem; }
.data-code-output { width: 2.8125rem; }
.note-code-output { width: 2.8125rem; }

.min-code-input + .max-code-input,
.code-output + .code-output,
.code-output + .code-input,
.code-input + .code-output,
.code-input + .code-input {
    margin-top: 0;
}

.source-grid,
.transform-grid {
    display: inline-grid;
}

.source-grid {
    grid-gap: 1px 1px;
    grid-template-columns: [channel] min-content [type] min-content [number] min-content;
    grid-auto-flow: column;
    justify-items: stretch;
    justify-content: start;
}

.source-grid > * {
    margin: 0 !important;
    z-index: 1;
}

.source-grid > :focus {
    z-index: 2;
}

.source-grid > .thumb {
    margin-top: auto;
    margin-bottom: auto;
    align-self: center;
    margin-right: 9px !important;
    color: black;
}

.source-grid > * {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.source-grid > * + * {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.source-grid > .last,
.source-grid > :last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.source-grid > .last ~ * {
    display: none;
}

.source-grid + .transform-grid {
    /* margin-top: 3px; */
}

.transform-grid {
    grid-gap: 1px 1px;
    grid-template-columns: [transform] min-content [min] min-content [max] min-content;
    grid-auto-flow: column;
    justify-items: stretch;
    justify-content: start;
}

.transform-grid > * {
    margin: 0;
    z-index: 1;
}

.transform-grid > :focus {
    z-index: 2;
}

.transform-grid > .code-select-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    min-width: 75px;
}

.transform-grid > .code-select-button.none-value {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.transform-grid > .min-code-input {
    border-radius: 0;
}

.transform-grid > .max-code-input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.transform-grid + .transform-grid {
    margin-top: 3px;
}

.left-top-bubble::after {
    left: calc(100% - 22px);
}

@media screen and (min-width: 32em) {
    .js .left-top-bubble {
    	transform: translate3d(calc(-100% + 1.4375rem), calc(-100% - 1.5rem), 0);
    }

    .js .left-top-bubble.active {
    	transform: translate3d(calc(-100% + 1.4375rem), calc(-100% - 1.75rem), 0);
    }
}


* > .toggle-block {
    /* Closed height of toggle-block is 4px, bringing this gap to 21px */
    margin-top: 1.0625rem;
}

.toggle-block + .sources-block {
    margin-top: 0.375rem;
    transition: margin-top 400ms cubic-bezier(0.06, 0.39, 0.26, 0.76);
}

.toggle-block.active + .sources-block {
    margin-top: 30px;
    transition: margin-top 400ms cubic-bezier(0.24, 0.74, 0.64, 0.96);
}

range-control + .toggle-block {
    margin-top: 0.125rem;
}

range-control + .toggle-block.active {
    margin-top: 0.75rem;
}

.toggle-block + range-control {
    margin-top: 0.375rem;
    transition: margin-top 400ms cubic-bezier(0.06, 0.39, 0.26, 0.76);
}

.toggle-block.active + range-control {
    margin-top: 24px;
    transition: margin-top 400ms cubic-bezier(0.24, 0.74, 0.64, 0.96);
}



.toggle-block > .buttons-block {
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
}

.buttons-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    z-index: 2;
}

.buttons-block > .button {
    flex: 1 0 auto;
    margin: 0;
    color: black;
    background-color: #b0890a
}

.buttons-block > .button + .button {
    margin-left: 1px;
}

* + .buttons-block {
    margin-top: 15px;
}

template + .buttons-block {
    margin-top: -14px;
}


.bottom-button {
    padding-top: 6px;
    padding-bottom: 6px;
}

.bottom-button:focus {
    box-shadow: none;
}

label > svg {
    width: 100%;
}






.tab-button,
.radio-button {
	font-size: 0.75rem;
	text-transform: uppercase;
	color: #2B3134;
	background-color: #565d60;/*#4C565C;*/
    background-image: linear-gradient(#868b8d, #546165);
}

.tab-button {
	border-top-left-radius: 0.375rem;
	border-top-right-radius: 0.375rem;
}

.radio-button {
    min-width: 24px;
    min-height: 21px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 0.1875rem;
}

.radio-button > svg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 0.9375rem;
	height: 1.25rem;
}

.tab-button.on {
	color: #B6B2B0;
	background-color: #2B3134;
}

.radio-button.on,
input:checked + .radio-button {
	color: #889696;
	color: #72B8A9;
	background-color: #859494;
	background-image: linear-gradient(#182d34, #12272d);
	box-shadow: inset 0 1px 8px 1px #011318;
}

input:checked + .radio-button .icon-stroke {
	/*color: #B6B2B0;*/
	color: blue;
}

.radios-block {
    display: flex;
    justify-items: stretch;
    justify-content: stretch;
    align-items: center;
    flex-direction: row;
}

.radios-block > .button {
    margin: 0;
    flex: 1 0 auto;
}

.radios-block > .source-select-button {
    width: auto;
}

.radios-block > .button:first-child,
.radios-block > .masked:first-child + .button {
    border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.radios-block > .button + .masked + .button {
    border-radius: 0;
    /* margin-left: 1px; */
    border-left: 1px solid hsla(198, 39%, 14%, 0.25);
    background-clip: border-box;
    background-origin: border-box;
    /* border-right: 3px solid #0000; */
}

.radios-block > .button + .masked + .button:last-child {
    border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.radios-block + range-control {
    margin-top: 18px;
}

.button + .radios-block {
    margin-top: 6px;
}


.sine-radio-button,
.square-radio-button,
.triangle-radio-button,
.sawtooth-radio-button,
.white-radio-button {
    background-image:
        url(../images/waveforms.svg),
        linear-gradient(#858d90, #5c676c);
    background-size:
        30px auto,
        100% 100%;
    max-width: 45px;
}

.masked:checked + .sine-radio-button,
.masked:checked + .square-radio-button,
.masked:checked + .triangle-radio-button,
.masked:checked + .sawtooth-radio-button,
.masked:checked + .white-radio-button {
    background-image:
        url('../images/waveforms.svg'),
        linear-gradient(#182d34, #12272d);
}

.sine-radio-button     { background-position: center 0, 0 0; }
.square-radio-button   { background-position: center -122.2px, 0 0; }
.triangle-radio-button { background-position: center -40.5px, 0 0; }
.sawtooth-radio-button { background-position: center -81.2px, 0 0; }
.white-radio-button    { background-position: center -162px, 0 0; }

.masked:checked + .sine-radio-button     { background-position: center -20px, 0 0; }
.masked:checked + .square-radio-button   {background-position: center -142.6px, 0 0;}
.masked:checked + .triangle-radio-button {background-position: center -61.3px, 0 0;}
.masked:checked + .sawtooth-radio-button {background-position: center -102px, 0 0;}
.masked:checked + .white-radio-button    {background-position: center -182px, 0 0;}

.source-select-button {
    color: #01171e;
    background-image: linear-gradient(#858d90, #5c676c);
}

.source-select-button > select {
    padding-left: 6px;
    padding-right: 6px;
}

.tab-index,
.radio-index {
	display: table;
	width: 100%;
	margin-top: 1.25rem;
}

.tab-index > li,
.radio-index > li {
	display: table-cell;
}

.tab-index > li + li,
.radio-index > li + li {
	padding-left: 1px;
}

.radio-index > li > input {
	position: absolute;
	opacity: 0;
}

.tab-index > li > .button,
.radio-index > li > .button {
	width: 100%;
	display: block;
	padding-left: 0.125rem;
	padding-right: 0.125rem;
}

.tab-index > li:first-child > .button {
	border-top-right-radius: 0;
}

.radio-index > li:first-child > .button {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.tab-index > li + li > .button,
.radio-index > li + li > .button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.tab-index > li:last-child > .button {
	border-top-right-radius: 0.375rem;
}

.radio-index > li:last-child > .button {
	border-top-right-radius: 0.375rem;
	border-bottom-right-radius: 0.375rem;
}

.tab-index > li > .tab-button,
.radio-index > li > .radio-button {
	white-space: nowrap;
}

.radio-index + label {
	margin-top: 0.375rem;
}

.radio-index + .grid-wrap {
	margin-top: 0;
}

.node-button + .radio-index {
	margin-top: 2rem;
}

* + .text-10 { margin-top: 9px; }




.scales-block {
    display: grid;
    grid-gap: 0 1.5rem;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.scales-block > * {
    margin: 0;
}

.scales-block > label {
    line-height: 21px;
}

* + .scales-block {
    margin-top: 24px;
}

.scales-block + .scales-block {
    margin-top: 9px;
}




.waveform-canvas {
    background-color: #b8c246;
    border-radius: 3px;
}
