
.node-block {
    margin: 0;
    padding: 12px;
    padding-top: 4px;
    height: auto;
    min-width: 200px;
    max-width: 320px;
    white-space: normal;
    text-align: left;
    border-radius: 0.375rem;
}

.node-block > h3 {

}

.node-block::before {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: #49575c;
    height: 42px;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 21px;
}

.node-block > pre {
    padding-left: 6px;
}

.node-block > pre > small {
    display: block;
    margin-top: -12px;
    font-size: 9.4px;
    color: #00171f;
    font-weight: 700;
}

.node-block > .midi-thumb {
    position: absolute;
    top: -12px;
    right: 60px;
    background-color: #49575c;
    width: 24px !important;
    padding-top: 24px !important;
    border-radius: 15px;
}

.node-block > .toggle-block {
    margin-left: -9px;
    margin-right: -9px;
}

.node-block.dragover {
    background-color: hsla(65, 50%, 90%, 0.06);
}

.input-node-block {
    padding-left: 12px;
    padding-top: 7px;
    min-width: 66px;
    max-width: 66px;
}

.input-node-block > pre {
    position: absolute;
    left: 12px;
    top: -27px;
    font-size: 11px;
}

.input-node-block::before {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-node-block > .input-thumb {

}

.input-node-block > .select-button {
    margin-top: 0;
}

* + .input-node-block {
    margin-top: 1.875rem;
}

.output-node-block {
    padding-left: 21px;
    padding-top: 7px;
    min-width: 75px;
    max-width: 75px;
    color: #8f9aa0;
}

.output-node-block > pre {
    position: absolute;
    left: 18px;
    top: -27px;
    font-size: 11px;
}

.output-node-block::before {
    position: absolute;
    content: '';
    left: 0;
}

.output-node-block > .input-thumb {

}

.output-node-block > .select-button {
    margin-top: 0;
}

* + .output-node-block {
    margin-top: 1.875rem;
}





.tone-synth-node-block {
    display: grid;
    grid-gap: 0 24px;
    grid-auto-columns: 1fr 1fr 1fr;
    min-width: 300px;
    max-width: 480px;
}

.tone-synth-node-block > * {
    margin-left: 0;
    margin-right: 0;
    grid-column: 1 / span 3;
}

.tone-synth-node-block > range-control {
    grid-column: 1 / span 2;
}

.tone-synth-node-block > range-control + .toggle-block {
    grid-column: 1 / span 2;
}
