
.node-block {
    margin: 0;
    padding: 9px;
    height: auto;
	white-space: normal;
	text-align: left;
    border-radius: 0.375rem;
}

.node-block > .midi-thumb {
    position: absolute;
    top: 15px;
    right: 9px;
}
