:root {
    --code-bg: #172120;
    --black-color: #acb9b8;
    background-color: #1c2726;
}

body,
html {
    color: #acb9b8;
    background-color: #1c2726;
}

h1 {
    color: #d60a3f;;
}

code {
    color: #d60a3f;
}

pre > code {
    background-color: #161f1e;
}

p {
    max-width: 50ch;
}

.text-4 {
    color: #6f7d7d;
}

.text-4 + .toggle-block {
    margin-top: 9px;
}
