:root {
    --code-bg: #172120;
    --black-color: #acb9b8;
}

body,
html {
    color: #acb9b8;
    background-color: #1c2726;
}

h1 {
    color: #d60a3f;;
}

code {
    color: #d60a3f;
}

pre > code {
    background-color: #161f1e;
}
