
.thumb:focus {
	box-shadow: none;
}

.play-thumb,
.stop-thumb,
.control-thumb {
	position: relative;
	width: 2.8125rem;
	padding-top: 2.8125rem;
}

.stop-thumb {
	opacity: 0;
}

.play-thumb::after,
.stop-thumb::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 0.1875rem;
}

.play-thumb::after {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 12px solid #4C565C;
	height: 0;
	width: 0;
	margin-left: -5px;
	margin-top: -10px;
}

.play-thumb:hover::after {
	border-left-color: rgb(117,184,168);
}

.play-thumb.on::after {
	border-left-color: #B8C247;
}

.stop-thumb::after {
	width: 14px;
	height: 14px;
	margin-left: -7px;
	margin-top: -7px;
	background-color: #662F1B;
}

.record-thumb {
	padding-top: 2.125rem;
	width: 2.375rem;
	background-color: #2B3134;
	border: 2px solid #4C565C;
	border-radius: 1.25rem;
}

.record-thumb:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 14px;
	height: 14px;
	margin-left: -7px;
	margin-top: -7px;
	background-color: #662F1B;
	border-radius: 0.1875rem;
}
