
# General OS/Editor Files
.DS_Store
Thumbs.db
*.swp
*.swo
*.swn
.idea/
.vscode/
.nova/
node_modules/
archive/
npm-debug.log
CLAUDE.md

# Rust (for wasm-pack)
Cargo.lock
*.rs.bk
pkg/
target/

# WebAssembly Build Artifacts
*.wasm
*.js.map
*.tsbuildinfo

# Deno
deno.lock
