[submodule "midi"]
	path = midi
	url = https://github.com/soundio/midi.git
[submodule "audio-object"]
	path = audio-object
	url = https://github.com/soundio/audio-object.git
[submodule "collection"]
	path = collection
	url = https://github.com/stephband/collection.git
