[submodule "modules/collection"]
	path = modules/collection
	url = https://github.com/cruncher/collection.git
[submodule "git_modules/object.assign"]
	path = modules/object.assign
	url = https://github.com/cruncher/object.assign.git
[submodule "fn"]
	path = fn
	url = https://github.com/stephband/Fn.git
[submodule "modules/dom"]
	path = modules/dom
	url = https://github.com/stephband/dom.git
[submodule "midi"]
	path = midi
	url = https://github.com/soundio/midi.git
[submodule "audio-object"]
	path = audio-object
	url = https://github.com/soundio/audio-object.git
