
range-control {
    --value-color: #88deff;

    --track-height: 0.375rem;
    --track-background: linear-gradient(#182d34, #12272d);
    --track-border: none;
    --track-shadow: inset 0 0 0 0.0625rem #02161e;
    --track-top: 1rem;

    --focus-track-background: var(--track-background);
    --focus-track-border: none;
    --focus-track-shadow: var(--track-shadow);

    --handle-width: 1.125rem;
    --handle-height: var(--handle-width);
    /*--handle-background: #B6B2B0 linear-gradient(hsl(192,0%,96.8%), hsl(192,0%,55%));
    --handle-border: 0.1875rem solid currentcolor;*/
    --handle-background: linear-gradient(hsl(192,0%,96.8%), hsl(192,0%,55%));

	/* Spherical shading */
    --handle-border: 1px solid #02161e;
    --handle-shadow: 
        inset 0 0 5px 1px hsla(198,30%,20%,0.6),
        0 0.125rem 0.125rem 0 rgba(0,0,0,0.16);

    --focus-handle-background: var(--handle-background);
    --focus-handle-border: var(--handle-border);
    --focus-handle-shadow: inset 0 0 3px 1px hsla(192,77%,12%,0.63);

    --tick-color: black;
    --tick-width: 0.125rem;
    --tick-height: var(--tick-width);
    --tick-border: none;
    --tick-background: currentcolor;
    --tick-shadow: none;
    --tick-font-size: 0.5625rem;
    --tick-line-height: 0.9375rem;
    --tick-letter-spacing: -0.0125em;
    --tick-text-shadow: none;

    --focus-tick-color: var(--tick-color);
    --focus-tick-background: var(--tick-background);
    --focus-tick-border: none;
    --focus-tick-shadow: none;

    --label-font-size: 1em;
    --label-line-height: 1.2em;
    --label-letter-spacing: -0.04em;
    --label-color: black;
    --label-shadow: none;

    --output-font-size: 0.75rem;
    --output-line-height: 1rem;
    --output-letter-spacing: -0.04em;
    --output-color: #46789a;
    --output-shadow: none;

    --label-input-margin: 0.0625rem;
    --bleed: 0.1875rem;
}

range-control:focus {
    outline-width: 0;
    box-shadow: none;
}
