@import '/bolt/css/html.css';
@import '/bolt/css/button.css';
@import '/bolt/css/grid.css';
@import '/bolt/components/select-button.css';

:host {
    --background: linear-gradient(to bottom, #555555 0%, #333333 100%);
    font-size: 12px;
    max-width: 376px;
    padding: 9px;
    background: var(--background);
    border-radius: 0.3125rem;
    color: #bdc2c3;
}

::part(tick) {
    color: #9aa2a7;
}

range-control {
    --value-color: #88deff;

    --track-height: 0.375rem;
    --track-background: linear-gradient(#182d34, #12272d);
    --track-border: none;
    --track-shadow: inset 0 0 0 0.0625rem #02161e;
    --track-top: 1rem;

    --handle-width: 1.125rem;
    --handle-height: var(--handle-width);
    /*--handle-background: #B6B2B0 linear-gradient(hsl(192,0%,96.8%), hsl(192,0%,55%));
    --handle-border: 0.1875rem solid currentcolor;*/
    --handle-background: linear-gradient(hsl(192,0%,96.8%), hsl(192,0%,55%));

    /* Spherical shading */
    --handle-border: 1px solid #02161e;
    --handle-shadow: 
        inset 0 0 5px 1px hsla(198,30%,20%,0.6),
        0 0.125rem 0.125rem 0 rgba(0,0,0,0.16);

    --bleed: 0.1875rem;
}

range-control::part(output) {
    color: #5a9dbf;
}

range-control:focus::part(output) {
    color: #61bfec;
}

range-control:focus {
    outline-width: 0;
    box-shadow: none;
}



rotary-control {
    --value-color: #88deff;

    --track-background: linear-gradient(#182d34, #12272d);
    --track-border: none;
    --track-shadow: inset 0 0 0 0.0625rem #02161e;

    --handle-background: linear-gradient(hsl(192,0%,96.8%), hsl(192,0%,55%));

    /* Spherical shading */
    --handle-border: 1px solid #02161e;
    --handle-shadow: 
        inset 0 0 5px 1px hsla(198,30%,20%,0.6),
        0 0.125rem 0.125rem 0 rgba(0,0,0,0.16);

    --bleed: 0.1875rem;
}

rotary-control::part(output) {
    color: #46789a;
    font-size: 0.9375em;
    letter-spacing: -0.04em;
}

rotary-control:focus {
    outline-width: 0;
    box-shadow: none;
}


.text-01 {
    font-size: 9px;
    line-height: 0.9375rem;
    color: #a0a8ab;
    text-transform: uppercase;
    margin: 0;
}

.nodes-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    gap: 15px 15px;
}

.nodes-block > * {
    width: 100%;
}

.nodes-block > .node > .source-select-button {
    /* source-select-button bleeds 2px on left and right so + 4px */
    width: calc(100% + 4px);
}

.nodes-block > .envelope-node {
    grid-column-end: span 2;
}

.nodes-block > .envelope-node > .source-select-button {
    /* source-select-button bleeds 2px on left and right so + 4px */
    width: calc(50% - 7.5px + 4px);
}

.text-01 + .nodes-block {
    margin-top: 0.9375rem;
}


.envelopes-block {
    display: flex;
}

.envelopes-block > envelope-control {
    height: 7.5rem;
}

/* .envelopes-block */

.envelopes-block {
    display: grid;
    grid-gap: 15px 3px;
    grid-auto-flow: row;
    grid-template-columns: calc(55.555556% - 1px) calc(44.444444% - 2px);
    align-items: stretch;
    justify-items: stretch;
}



.envelopes-block > :nth-child(1) { z-index: 3; }
.envelopes-block > :nth-child(2) { z-index: 2; }

.envelopes-block > :nth-child(1) {
    --track-radius: calc(var(--input-border-radius) * 2) 0 0 calc(var(--input-border-radius) * 2);
}

.envelopes-block > :nth-child(2) {
    --track-radius: 0 calc(var(--input-border-radius) * 2) calc(var(--input-border-radius) * 2) 0;
}

.envelopes-block > :nth-child(2) .envelope-svg > text {
    /* Remove y scale */
    display: none;
}

* + .envelopes-block {
    margin-top: 24px;
}






.radio-button::before,
.radio-button::after {
    content: none;
}

.radio-button {
    padding-top: 0.5625rem;
    padding-bottom: 0.625rem;
}



/* from soundio */

.radios-block {
    display: flex;
    justify-items: stretch;
    justify-content: stretch;
    align-items: center;
    align-content: stretch;
    flex-direction: row;

    border: 0.0625rem solid #02161e;
    border-radius: var(--input-border-radius);
    margin-left: -0.125rem;
    margin-right: -0.125rem;
}

.radios-block > .masked {
    position: absolute;
    top: 0;
    left: 0;
}

.radios-block > .button {
    margin: 0;
    flex: 1 0 auto;
    min-height: 21px;
    background-clip: border-box;
    background-origin: border-box;
    border-radius: calc(var(--input-border-radius) - var(--input-border-width));
}

.radios-block > .source-select-button {
    width: auto;
}

.radios-block > .button:first-child,
.radios-block > .masked:first-child + .button {
    border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.radios-block > .button + .masked + .button {
    border-radius: 0;
    /* margin-left: 1px; */
}

.radios-block > .button + .masked:not(:focus) + .button {
    border-left-color: hsla(198, 39%, 14%, 0.25);
}

.radios-block > .button + .masked + .button:last-child {
    border-top-right-radius: calc(var(--input-border-radius) - var(--input-border-width));
	border-bottom-right-radius: calc(var(--input-border-radius) - var(--input-border-width));
}

.radios-block + range-control,
.select-button + range-control {
    margin-top: 0.75rem;
}

.button + .radios-block {
    margin-top: 6px;
}


.sine-radio-button,
.square-radio-button,
.triangle-radio-button,
.sawtooth-radio-button,
.white-radio-button,
.pink-radio-button,
.brown-radio-button {
    background-image:
        url(./images/waveforms.svg),
        linear-gradient(#858d90, #5c676c);
    background-size:
        30px auto,
        100% 100%;
    max-width: 45px;
}

.masked:checked + .sine-radio-button,
.masked:checked + .square-radio-button,
.masked:checked + .triangle-radio-button,
.masked:checked + .sawtooth-radio-button,
.masked:checked + .white-radio-button,
.masked:checked + .pink-radio-button,
.masked:checked + .brown-radio-button {
    background-image:
        url('./images/waveforms.svg'),
        linear-gradient(#182d34, #12272d);
}

.sine-radio-button     { background-position: center 0, 0 0; }
.square-radio-button   { background-position: center -122.2px, 0 0; }
.triangle-radio-button { background-position: center -40.5px, 0 0; }
.sawtooth-radio-button { background-position: center -81.2px, 0 0; }
.white-radio-button    { background-position: center -162px, 0 0; }
.pink-radio-button     { background-position: center -162px, 0 0; }
.brown-radio-button    { background-position: center -162px, 0 0; }

.masked:checked + .sine-radio-button     { background-position: center -20px, 0 0; }
.masked:checked + .square-radio-button   { background-position: center -142.6px, 0 0; }
.masked:checked + .triangle-radio-button { background-position: center -61.3px, 0 0; }
.masked:checked + .sawtooth-radio-button { background-position: center -102px, 0 0; }
.masked:checked + .white-radio-button    { background-position: center -182px, 0 0; }
.masked:checked + .pink-radio-button     { background-position: center -182px, 0 0; }
.masked:checked + .brown-radio-button    { background-position: center -182px, 0 0; }



.source-select-button {
    color: #01171e;
    background-image: linear-gradient(#858d90, #5c676c);
    font-size: 14px;
	line-height: 23px;
	margin-left: -2px;
	margin-right: -2px;
	max-width: calc(100% + 4px);

    --input-height: 24px;
    --input-line-height: 22px;
    --input-border-width: 1px;
    --input-border-color: black;
}

.source-select-button::before {
	content: none;
}

.source-select-button::after {
	right: 6px;
}

.source-select-button > select {
    padding-left: 6px;
    padding-right: 6px;
}