<style title="fader">
.fader-control {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 25rem;

    /* Padding is used to offset the centering of the ticks against the range.
       It should correspond to radius of the range handle. */
    padding-left: 0.4375rem;
    padding-right: 0.4375rem;
}

.fader-control > label {
    order: 0;
    width: calc(100% - 2.5625rem);
    margin-left: -0.4375rem;
    font-size: 0.8125rem;
}

.fader-control > output {
    order: 1;
    width: 3.4375rem;
    margin-right: -0.4375rem;
    font-size: 0.8125rem;
    text-align: right;
}

.fader-control > .tick {
    order: 2;
    position: relative;
    width: 2.0625rem;
    margin-top: 0.375rem;
    margin-left: -1rem;
    margin-right: -1rem;
    font-size: 10px;
    text-align: center;
    overflow: visible;
    z-index: 0;

    /* Make room for tick mark */
    /*padding-bottom: 3px;*/
}

.fader-control > .tick::after {
    content: '';
    position: absolute;
    left: 1rem;
    bottom: -4px;
    /* Or place the ticks underneath the range */
    /*bottom: -24px;*/
    width: 1px;
    height: 3px;
    background-color: black;
}

.fader-control > [type="range"] {
    order: 3;
    /* -ve margin left and right is used to offset the centering range against
       its ticks. It should correspond to radius of the range handle. */
    margin: 0.125rem -0.4375rem;
    width: calc(100% + 0.875rem);
    z-index: 1;
}

.fader-control + .fader-control {
    margin-top: 0.5625rem;
}

output > abbr {
    margin-left: 0.1em;
}
</style>

<template id="fader">
    <div class="fader-control control">
        <label for="{[id]}">{[label]}</label>
        <!--div class="tick" fn="get:ticks entries each">
            <input class="masked" type="radio" name="fader-{[..id]}-tick-{[1]}" id="fader-{[..id]}-tick-{[1]}" value="{[1]}" sparky-value="{[..value|float-string]}"/>
            <label for="fader-{[..id]}-tick-{[1]}">{[1]}</label>
        </div-->
        <input type="range" name="{[id]}-{[name]}" id="{[id]}" value="{[inputValue]}" min="{[min]}" max="{[max]}" step="{[step]}" />
        <output>{[outputValue]}<abbr>{[unit]}</abbr></output>
    </div>
</template>
