<template id="nodes">
    <div fn="each" class="node-block block"></div>
</template>

<template id="connections">
    <svg viewbox="0 0 100 100" class="connections-svg">
        <path fn="each" d=""></path>
    </svg>
</template>

<template id="input">
    Input {[]}
</template>

<template id="output">
    Output {[]}
</template>

<template id="graph">
    <template src="#input"></template>
    <template src="#nodes" fn="get:nodes"></template>
    <template src="#connections" fn="get:connections"></template>
    <template src="#output"></template>
</template>
