body {
	width: 87.5%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2.5rem;
	padding-bottom: 3.75rem;
}

body > .block {
	margin-top: 1.25rem;
}

a {
	color: #FE337E;
}

code,
script.block {
	font-family: 'andale mono', 'lucida console', monospace;
	font-size: 0.9375rem;
	white-space: pre;
	color: #836FCD;
}

script.block {
	line-height: 1.25rem;
}

.link-index {
	font-size: 0.9375rem;
	margin-top: 0rem;
}