/* .block */

.note_block {
	width: 100%;
	overflow: visible;
	background-color: #80BDDB;
	height: 0;

	-webkit-transition-property: height;
	   -moz-transition-property: height;
	    -ms-transition-property: height;
	     -o-transition-property: height;
	        transition-property: height;

	-webkit-transition-duration: 48ms;
	   -moz-transition-duration: 48ms;
	    -ms-transition-duration: 48ms;
	     -o-transition-duration: 48ms;
	        transition-duration: 48ms;

	-webkit-transition-timing-function: ease-in;
	   -moz-transition-timing-function: ease-in;
	    -ms-transition-timing-function: ease-in;
	     -o-transition-timing-function: ease-in;
	        transition-timing-function: ease-in;

	border-top-left-radius: 20%;
	border-top-right-radius: 20%;
}

.note_block > .note_text {
	display: none;

	position: absolute;
	bottom: -2.5rem;
	left: 50%;
	width: 4em;
	margin-left: -2em;

	font-family: 'Andale Mono', monospace;
	font-size: 0.8125rem;
	text-align: center;
	line-height: 2.5rem;

	color: #666666;
}

.note_block.on > .note_text {
	display: block;
}


/* .index */

.note-index {
	line-height: 159px;
	border-bottom: 1px solid #999999;
	margin-bottom: 3rem;

	/*border-bottom: 1px solid #202020;
	background-color: #444444;
	box-shadow: inset 0 -8px 120px 20px rgba(0,0,0,0.6);
	*/

	background-image: -webkit-linear-gradient(bottom, transparent 0%, transparent 63px, rgba(128,128,128,0.24) 63px, transparent 64px, transparent 127px, rgba(128,128,128,0.16) 127px, transparent 128px, transparent 100%);
	background-image:    -moz-linear-gradient(bottom, transparent 0%, transparent 63px, rgba(128,128,128,0.24) 63px, transparent 64px, transparent 127px, rgba(128,128,128,0.16) 127px, transparent 128px, transparent 100%);
	background-image:     -ms-linear-gradient(bottom, transparent 0%, transparent 63px, rgba(128,128,128,0.24) 63px, transparent 64px, transparent 127px, rgba(128,128,128,0.16) 127px, transparent 128px, transparent 100%);
	background-image:      -o-linear-gradient(bottom, transparent 0%, transparent 63px, rgba(128,128,128,0.24) 63px, transparent 64px, transparent 127px, rgba(128,128,128,0.16) 127px, transparent 128px, transparent 100%);
	background-image:         linear-gradient(to top, transparent 0%, transparent 63px, rgba(128,128,128,0.24) 63px, transparent 64px, transparent 127px, rgba(128,128,128,0.16) 127px, transparent 128px, transparent 100%);
}

.note-index > li {
	width: 0.78125%;
	vertical-align: bottom;
	padding-left: 1px;
}