/* .index */

.note-index {
	padding-left: 3.3333%;
	padding-right: 3.3333%;
	white-space: nowrap;

	/*border: 1px solid #e9e9e9;*/
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}

.note-index > li {
	font-family: "Andale Mono", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 0.8125rem;
	line-height: 2rem;
	visibility: hidden;
	width: 4.78125%;
	position: relative;
	left: -2%;
	margin-right: -4%;
	text-align: center;
	overflow: visible;
	white-space: nowrap;
	vertical-align: bottom;
	color: #666666;
}

.note-index > li.on {
	visibility: visible;
}

/* canvas */

.midi-graph {
	display: block;
	width: 100%;
	height: auto;
	border-bottom: 1px solid #202020;
	/*background-color: #444444;
	box-shadow: inset 0 -8px 140px 20px rgba(0,0,0,0.67);*/

	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}