
<template id="fader-control-template">
    <link rel="stylesheet" href="components/controls/fader-control.css" />
    <label for="input"><slot>Value</slot></label>
    <div class="tick" fn="get:ticks each" :style="left: calc(0.5rem + (100% - 1.125rem) * {[inputValue]});">
        <input class="masked" style="position: absolute; top: -3000px;" type="radio" name="tick" id="tick-{[value]}" value="{[inputValue]}"/>
        <label for="tick-{[value]}">{[outputValue]}</label>
    </div>
    <input type="range" id="input" value="{[inputValue]}" min="0" max="1" step="any" />
    <output>{[prefix]}{[outputValue]}<abbr>{[unit]}</abbr></output>
    <slot name="plugs"></slot>
</template>
