
<!--
    <range-control min="" max="" value="" transform="" ticks="">
-->

<template id="range-control-template">
    <link rel="stylesheet" href="components/controls/range-control.css" />
    <input class="control-input" type="range" id="input" value="{[inputValue]}" min="0" max="1" step="any" />
    <label class="control-label" for="input"><slot></slot></label>
    <output class="control-output">{[prefix]}{[outputValue]}<abbr>{[unit]}</abbr></output>
    <template fn="get:ticks each">
        <input class="tick-input" type="radio" name="tick" id="tick-{[value]}" value="{[tickValue|float-string]}" :value="{[root.inputValue|float-string]}" />
        <label class="tick-label" :style="left: calc(0.5rem + (100% - 1rem) * {[tickValue]});" :for="tick-{[value]}">{[outputValue]}</label>
    </template>
    <slot name="plugs"></slot>
</template>
